[Desktop Entry]
Encoding=UTF-8
Name=Link to Preloaders.net - Loading GIF, SVG & APNG (AJAX loaders) generator
Type=Link
URL=https://icons8.com/preloaders/
Icon=text-html
